<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h2 style="margin-top:50px;">login sucessfull</h2>
<p>you are now sucessfully logged in, click the links below to see current subscriptions or add a new subscription</p>
<p><a href="/signup" title="sign up">sign up</a></p>
<p><a href="/subscriptions" title="subscriptions">current subsciptions</a></p>
<p><a href="/" title="login">login</a></p>
<p><a href="/new-subscription" title="new subscirption">new subsciption</a></p>
