<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>s
<body>
<h2 style="margin-top:50px;">start page</h2>
<p>get starting</p>
<p><a href="/signup" title="sign up">sign up</a></p>
<p><a href="/subscriptions" title="subscriptions">current subsciptions</a></p>
<p><a href="/" title="login">login</a></p>
<p><a href="/new-subscription" title="new subscirption">new subsciption</a></p>
<p><a href="/start" title="start">start page</a></p>


</body>
</html>
