<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2 style="margin-top:50px;">Subsciptions</h2>
<p>all current subscriptions</p>
<p><a href="/subscriptions" title="subscriptions">current subsciptions</a></p>
<p><a href="/" title="login">logout</a></p>
<p><a href="/new-subscription" title="new subscirption">new subsciption</a></p>
<ul>
   {% for sub in subscriptions %}
       <li>{{ sub['subscription_name'] }} - ${{ sub['cost'] }} - {{ sub['expiry_date'] }}</li>
   {% endfor %}
</ul>
</body>
</html>
